.header {
  height: 100vh;

  &-content{
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;

    &-text{
      display: flex;
      flex-direction: column;

      @include mediaMax(768){
        padding-top: 10%;
      }

      @include mediaMax(480){
        padding-top: 7%;
      }
    }
  }

  &-title{
    font-size: 86px;
    line-height: 95px;
    margin-bottom: 34px;
    position: relative;

    &:before {
      content: "";
      @include underline-link();
      background-color: $colorBlack;
      transform: scaleX(0);
    }

    &:hover:before {
      content: "";
      @include underline-link();
      background-color: $colorBlack;
      transform: scaleX(1);
    }

    @include mediaMax(1366){
      font-size: 72px;
      line-height: 88px;
    }

    @include mediaMax(1000){
      font-size: 54px;
      line-height: 54px;
    }

    @include mediaMax(768){
      text-align: center;
      font-size: 56px;
      line-height: 59px;
      margin-bottom: 25px;
    }

    @include mediaMax(480){
      font-size: 44px;
      line-height: 44px;
      margin-bottom: 0;
      margin-top: 10px;
    }
  }

  .ph, .sn, .fn {
    align-self: flex-start;

    @include mediaMax(768){
      align-self: center;
    }
  }

  &-text{
    font-size: 46px;
    margin-bottom: 38px;

    @include mediaMax(1366) {
      font-size: 40px;
    }

    @include mediaMax(1280) {
      font-size: 36px;
      margin-bottom: 10px;
    }

    @include mediaMax(1000) {
      font-size: 27px;
    }

    @include mediaMax(768) {
      font-size: 22px;
      text-align: center;
    }

    @include mediaMax(480) {
      font-size: 15px;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }

  &-content-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mediaMax(480){
      flex-direction: column;

      .btn-header{
        margin-top: 5%;
      }
    }
  }

  @include mediaMax(768){
    height: unset;
    min-height: 100vh;
  }
}