//colors and mixins
@import "base/variables";
@import "base/mixins";

*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: Montserrat;
  font-weight: 300;
  box-sizing: border-box;
}

.container{
  min-height: 100vh;
  max-width: 1366px;
  position: relative;
  padding: 40px 0;
  margin: 0 auto;

  @include mediaMax(1499){
    max-width: 1300px;
  }

  @include mediaMax(1366){
    max-width: 1200px;
  }

  @include mediaMax(1280){
    max-width: 960px;
  }

  @include mediaMax(1000){
    max-width: 728px;
  }

  @include mediaMax(768){
    max-width: 440px;
  }

  @include mediaMax(480){
    max-width: 280px;
  }
}

.add-margin{
  display: block;
  height: 60px;
}

//main style
@import "blocks/navigation";
@import "blocks/header";
@import "blocks/worksSection";
@import "blocks/tariffs";
@import "blocks/contacts";
@import "blocks/modal";

//components
@import "base/componenets";

//privacy-page
@import "privacy/privacy";